<h1>Create a new task</h1>

<% if @task.errors.any? %>
  <h2>The following errors prevented the task from being saved</h2>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
 
<%= form_with scope: :task, url: tasks_path, local: true do |f| %>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :detail %><br/>
    <%= f.text_area :detail %>
  </p>

  <p>
    <%= f.label :due_date %><br/>
    <%= f.date_field :due_date %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>